Write code that loads any CSV dataset and automatically selects only numeric columns. Calculates for each numeric column: mean, minimum, and maximum. Combines these results into one DataFrame to display the final DataFrame.

In [16]:
import pandas as pd
import numpy as np
df=pd.read_csv("sample_weather_data.csv")
df.describe().temperature
df.describe().wind_speed
df.describe().humidity
df.describe().rainfall
df1=df.describe()
df1

       temperature  humidity  wind_speed   rainfall
count     5.000000   5.00000    5.000000   5.000000
mean     31.000000  67.60000   10.000000   3.600000
std       2.236068   5.59464    1.581139   4.037326
min      28.000000  60.00000    8.000000   0.000000
25%      30.000000  65.00000    9.000000   1.000000
50%      31.000000  68.00000   10.000000   2.000000
75%      32.000000  70.00000   11.000000   5.000000
max      34.000000  75.00000   12.000000  10.000000

Correct code

In [18]:
import pandas as pd
df=pd.read_csv("sample_weather_data.csv")

In [21]:
a=df.select_dtypes(include="number")

In [22]:
a.mean()

temperature    31.0
humidity       67.6
wind_speed     10.0
rainfall        3.6
dtype: float64

In [23]:
a.max()

temperature    34
humidity       75
wind_speed     12
rainfall       10
dtype: int64

In [24]:
a.min()

temperature    28
humidity       60
wind_speed      8
rainfall        0
dtype: int64

In [38]:


summary_df = pd.DataFrame({
    "mean": a.mean(),
    "min": a.min(),
    "max": a.max()
})

In [39]:
summary_df

             mean  min  max
temperature  31.0   28   34
humidity     67.6   60   75
wind_speed   10.0    8   12
rainfall      3.6    0   10